.cart {
    background-color: hsl(240, 9%, 23%);
    border-top: .4em solid hsl(46, 100%, 20%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2rem 5%;
    width: 90%;

    .cart-main-table {
        border: 2px solid hsl(46, 100%, 30%);
        border-radius: 1rem;
        padding: 2%;
        width: 96%;

        table {

            caption {
                color: hsl(0, 0%, 100%);
                font-weight: bold;
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

            tbody {
                height: 16rem;

                :nth-child(1), :nth-child(2), :nth-child(3) { 
                
                    :nth-child(1) {
                        display: none; // Quitando la columna de las imágenes.
                    }
                }

                tr {

                    th,td {
                        border-left: 2px solid hsl(46, 18%, 31%);
                        border-right: 2px solid hsl(46, 18%, 31%);
                        padding: 1rem;
                    }
    
                    th {
                        color: hsl(46, 100%, 30%);
                        text-decoration: underline;
                    }
    
                    td {
                        color: hsl(0, 0%, 100%);
                        font-size: .8rem;
                        margin: 0 .4rem;
                    }
                }
            }

            tr:first-child {
                justify-items: center; //Duda: Centrar imagenes

                th:first-child {
                    border: none;
                }
            }
        }
    }
}