
header {
    background-color: hsl(46, 100%, 20%);
    padding: 3% 5%;
    width: 90%;
    height: 94%;

    .panel-header-title {
        display: flex;
        justify-content: flex-start;
    }

    .panel-header-hamburger {
        display: flex;
        justify-content: flex-end;
    }
}
