.products {
    background-color: hsl(240, 9%, 23%);
    border-top: .4em solid hsl(46, 100%, 20%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2rem 5%;
    width: 90%;

    .products-categories {
        border-left: .2rem solid hsl(46, 100%, 20%);
        margin: 1rem;
        position: sticky;
        top: 10%;

        // .products-categories-title {
        //     margin-bottom: 2rem;

        //     
        // }

        .products-categories-elements {

            .products-categories-title {
                margin-bottom: 2rem;

                h3 {
                    text-decoration: 4px underline hsl(46, 100%, 20%);
                }
            }

            ul {
                justify-content: space-between;

                li {
                    margin: 2% 2%;
                    color: white;
                }

                li:hover {
                    cursor: pointer;
                    text-decoration: 2px underline hsl(46, 100%, 20%);
                    transition: 1s;
                }
            }
        }
    }

    .products-gallery {
        display: flex;
        flex-wrap: wrap;

        .product {
            background-color: hsl(33, 100%, 88%);
            border-radius: 20px;
            box-shadow: .6rem .6rem 1.2rem .4rem;
            cursor: pointer;
            padding: 6%;
            margin-bottom: 2rem;
            margin-left: 4%;

            .product-window {
                align-items: flex-start;
                display: flex;
                justify-content: flex-end;

                .product-window-price {
                    background-color: hsla(32, 100%, 88%, 0.555);
                    border-bottom: .1em solid hsl(240, 9%, 23%);
                    box-shadow: -.2rem .4rem .4rem .2rem hsl(240, 9%, 23%);
                    border-bottom-left-radius: 2rem;
                    padding: .4%;
                    position: relative;
                }
            }

            .product-title {
                min-height: 10vh;

                h4 {
                    color: hsl(240, 9%, 23%);
                }
            }

            .product-view-button {
                width: max-content;
                margin: 0 auto;

                button {
                    border-radius: 1rem;
                    color: hsl(0, 0%, 0%);
                    cursor: pointer;
                    padding: 1rem;
                }

                button:hover {
                    background: linear-gradient(#EFEFEF, hsl(46, 100%, 20%));
                }
            }
        }

        .product:hover {

            .product-window-price {
                padding: 1%;
                transition: .6s;
            }
        }
    }
}