.products {
    background-color: hsl(240, 9%, 23%);
    border-top: .4em solid hsl(46, 100%, 20%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2rem;

    .desktop-two-columns-aside {
        flex-direction: column;
    }

    .products-categories {
        border-left: .2rem solid hsl(46, 100%, 20%);
        margin: 2rem auto;
        width: fit-content;

        // .products-categories-title {
        //     margin-bottom: 2rem;

        //     h3 {
        //         text-decoration: 4px underline hsl(46, 100%, 20%);
        //     }
        // }
    
        .products-categories-elements {

            .products-categories-title {

                label {
                    color: hsl(0, 0%, 100%);
                    display: block;
                    font-weight: bold;
                    margin-bottom: 2rem;
                }
            }

            form {

                select {
                    background-color: hsl(46, 100%, 20%);
                    border-color: hsl(46, 100%, 20%);
                    color: hsl(0, 0%, 100%);
                }
            }

            // ul {
            //     justify-content: space-between;

            //     li {
            //         margin: 2% 2%;

            //         a:hover {
            //             text-decoration: 2px underline hsl(46, 100%, 20%);
            //             transition: 1s;
            //         }
            //     }
            // }
        }
    }

    .products-gallery {

        margin: 2%;

        .product {
            background-color: hsl(33, 100%, 88%);
            border-radius: 20px;
            box-shadow: -6px 6px 16px 4px;
            padding: 6%;
            margin-bottom: 2rem;
            
            .product-window {
                align-items: flex-start;
                display: flex;
                justify-content: flex-end;

                .product-window-price {
                    background-color: hsla(32, 100%, 88%, 0.555);
                    border-bottom: .1em solid hsl(240, 9%, 23%);
                    box-shadow: -1px 4px 8px 1px;
                    border-bottom-left-radius: 10px;
                    padding: .4%;
                    position: absolute;
                }
            }
    
            .product-title {
                min-height: 10vh;
    
                h4 {
                    color: hsl(240, 9%, 23%);
                }
            }

            .product-view-button {
                width: max-content;
                margin: 0 auto;
    
                button {
                    background-color: hsl(45, 40%, 40%);
                    border-radius: .4rem;
                    color: white;
                    cursor: pointer;
                    padding: 1rem;
                }
            }
        }

        .product:hover {
    
            .product-window-price {
                padding: 1%;
                transition: .6s;
            }
        }
    }
}