footer {
    background-color: #a9a9a9;
    border-radius: 20px;
    margin: 2% auto;
    opacity: 70%;
    width: 90%;

    ul {
        margin-top: 10%;

        li {
            color: #997500;
            text-align: center;
            font-weight: bold;
            padding: 4%;
        }
    }
}