.product-view {
    background-color: hsl(240, 9%, 23%);
    border-top: .4em solid hsl(46, 100%, 20%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 3%;
    width: 94%;

    .product-view-slider {
        margin: 2rem auto;
        width: 80%;

        .product-view-slider-image {
            cursor: pointer;
            border: .2rem solid hsl(46, 100%, 20%);
            border-radius: 6px;
            padding: 1rem;
            width: 100%;
        }

        .product-view-slider-miniatures {
            display: flex;

            .miniature {
                cursor: pointer;
                margin: 1rem 1rem;
            }
        }
    }

    .product-view-info {
        margin: 2rem auto;

        .product-view-info-price {
            display: flex;
            background-color: hsl(240, 9%, 40%);
            border-radius: 8px;
            margin-right: auto;
            padding: .4rem;
            width: 14%;

            span {
                color: hsl(46, 100%, 36%);
                font-size: 1.2rem;
                font-weight: bold;
                justify-content: space-between;
            }
        }

        .product-view-info-description {
            
            p {
                font-size: .8rem;
                text-indent: 2rem;
            }
        }

        .product-view-info-amount {
            align-items: center;
            display: flex;
            justify-content: space-evenly;

            .amount-title {
                color: hsl(0, 0%, 100%);
                font-weight: bold;
            }
        }

        .product-view-info-add-to-cart {
            display: flex;
            justify-content: center;

            .add-to-cart-button {
                background-color: hsl(0, 0%, 100%);
                border-radius: 8px;

                button {
                    background-color: hsl(240, 9%, 40%);
                    border: 4px solid hsl(46, 100%, 20%);
                    border-radius: 6px;
                    color: hsl(0, 0%, 100%);
                    cursor: pointer;
                }

                button:hover {
                    opacity: .9;
                    transition: .6s;
                    padding: 1rem;
                }
            }
        }
    }

    .product-view-info > div {
        margin: 1rem 0;
    }
}