.panel {
    background-color: hsl(240, 9%, 23%);

    .panel-header {
        background-color: hsl(46, 100%, 20%);
        padding: 0 5%;
        width: 90%;

        .panel-header-title {
            display: flex;
            justify-content: flex-start;
        }

        .panel-header-hamburger {
            display: flex;
            justify-content: flex-end;
        }
    }

    .panel-aside {
        border-left: .2rem solid hsl(46, 100%, 30%);
        border-right: .2rem solid hsl(46, 100%, 30%);
        margin: 1rem auto;
        width: 90%;
    }

    .panel-main {

        ul {
            align-items: center;
            display: flex;
            height: 6rem;
        }

        .box-options {

            ul {

                li {
                    background-color: hsl(46, 100%, 20%);
                    cursor: pointer;
                    margin: .4rem;
                    padding: .8rem;
                }

                li:hover {
                    background-color: hsl(46, 100%, 30%);
                }
            }
        }

        .tool-options {

            ul {

                li {
                    margin: .4rem;

                    svg {
                        color: hsl(46, 100%, 20%);
                        cursor: pointer;
                        width: 30%;
                    }

                    svg:hover {
                        color: hsl(46, 100%, 30%);
                    }
                }
            }
        }

        .panel-main-form {
            margin: 0 5%;
            width: 90%;

            .form-category,
            .form-name {
                display: flex;
                flex-direction: column;

                label {
                    color: hsl(0, 0%, 100%);
                    margin: .4rem 0;
                }

                input,
                select {
                    background: none;
                    border: none;
                    border-bottom: .1rem solid hsl(46, 100%, 20%);
                    color: hsl(0, 0%, 100%);
                    margin: 1rem 0;

                    option {
                        background-color: hsl(240, 9%, 23%);
                        color: hsl(0, 0%, 100%);
                    }
                }

                input:focus,
                select:focus {
                    border: .1rem solid hsl(46, 100%, 30%);
                    border-radius: 1rem;
                }
            }

        }

        .panel-title {

            span {
                background-color: hsl(46, 100%, 20%);
            }
        }
    }
}