body{
   
}

main {
    background-color: hsl(240, 9%, 23%);
    border-top: .2rem solid hsl(46, 100%, 30%);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin: 0 auto;
    width: 100%;
}

.desktop-only{
    display: none;
}

.mobile-only{
    display: revert;
}